html, body {
    margin: 0;
    padding: 0;
}

#prompt {
    position: absolute;
    width: 100vw;
    text-align: center;
}
  
#sketch-container {
    display:flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 15px;
    border-radius: 4px;
    padding: 10px;
}

button {
    padding: 10px;
    border-style: hidden;
    border-radius: 10px;
    cursor: pointer;
}

#optionA {
    /* background-color: #c993d4; */
    background-color: #FF9551; 
}    

#optionB {
    /* background-color: #9fa3e3; */
    background-color: #5F9DF7; 
}  

