html, body {
    margin: 0;
    padding: 0;
    background-color: #95b36b;
}

canvas {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
  
#sketch-container {
    display:flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 15px;
    border-radius: 4px;
    padding: 10px;
}
  
  
  
#resetButton, #saveButton, #toolButton {
    border: 1px solid #0074B7;
    background-color: #F7B787;
    color: #000000;
    border-radius: 4px;
    font-size: 12pt;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}
  